[submodule "Libft"]
	path = Libft
	url = https://github.com/ayermeko/Libft
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/ayermeko/ft_printf
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/ayermeko/minitalk
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/ayermeko/push_swap_github/
[submodule "so_long"]
	path = so_long
	url = https://github.com/ayermeko/so_long
[submodule "Philo_42"]
	path = Philo_42
	url = https://github.com/ayermeko/Philo_42
[submodule "minishell"]
	path = minishell
	url = https://github.com/ayermeko/minishell
[submodule "CPP_modules"]
	path = CPP_modules
	url = https://github.com/ayermeko/CPP_modules
[submodule "ft_irc"]
	path = ft_irc
	url = https://github.com/ayermeko/ft_irc
