[submodule "Libft"]
	path = Libft
	url = https://github.com/ayermeko/Libft
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/ayermeko/ft_printf
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/ayermeko/minitalk
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/ayermeko/push_swap_github/
[submodule "so_long"]
	path = so_long
	url = https://github.com/ayermeko/so_long
